{% extends 'base.html' %}
{% block title %} 북마크 리스트 페이지 {% endblock %}

{% block content %}
<div class="text-center">
    {% if bookmark %}
        <h1>북마크 수정하기_새로 만들었음</h1>
    {% else %}
        <h1>북마크 등록하기_새로 만들었음</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        {% comment %} <input type="text" name="title" placeholder="북마크 제목">
        <input type="text" name="url" placeholder="북마크 url">
        <input type="text" name="memo" placeholder="북마크 메모"> {% endcomment %}

        {{ form.as_p }}

        <input type="submit" value="북마크 등록">
    </form>


    {% comment %} <form method="post">
        {% csrf_token %}
        <input type="submit" value="포스트 요청 보내기">
    </form> {% endcomment %}
</div>
{% endblock %}
