{% extends 'base.html' %}
{% block title %} 북마크 리스트 페이지 {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
    <h1>북마크 리스트</h1>
    <ul>
        {% if bookmark_list %}
        {% comment %} {{ bookmark_list }} {% endcomment %}
            {% for i in bookmark_list %}
                <li><a href="{% url 'bookmarkapp:detail' i.id %}">{{ i.title }}</a></li>
            {% endfor %}
        {% else %}
            <p>북마크가 작성되지 않았습니다!</p>
        {% endif %}

    </ul>
    <!-- 2. 과제(북마크 만들기 링크생성) -->
    <a href="{% url 'bookmarkapp:create' %}">북마크 만들기</a>
</div>
</div>
</div>
{% endblock %}




