<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>북마크 리스트_새로 만듦</h1>
    <ul>
        {% if bookmark_list %}
        {% comment %} {{ bookmark_list }} {% endcomment %}
            {% for i in bookmark_list %}
                <li><a href="{% url 'bookmarks:detail' i.id %}">{{ i.title }}</a></li>
            {% endfor %}
        {% else %}
            <p>북마크가 작성되지 않았습니다!</p>
        {% endif %}

    </ul>
    <!-- 2. 과제(북마크 만들기 링크생성) -->
    <a href="{% url 'bookmarks:create' %}">북마크 만들기</a>
</body>
</html>




